body {
    padding: 0;
    margin: 0; 
    background-color:white;
    display: flex;
    flex-direction: column;  /* #title h1 and #container div  */
    align-items: center;
}

/* choose game screen */
#choose-game {
    text-align:center;
    margin-top:10%;
}

.choose-buttons {
    padding:3px;
    border-radius: 5px;
    margin:5px;
}


/* colors game style */

#game-container {
    width: 100vw;  /* set element to size of the window */
    height: 100vh;
    background-size: cover;  /*make sure background covers the entire element */
    font-weight: 900;
    text-shadow: 1px 1px black;
}

#board-stats-container {
    display:flex;
    justify-content: center;
}

#title {
    font-size:65px;
    text-align: center;
    margin-left:10px;
}

#board {  /* create 3 x 3 grid */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 30px;
}

#current-displays {
    font-size: 30px;
    display:flex;
    flex-direction: column;
    align-items:center;  /* center its contents*/
}

#current-image-display {
    width: 75px;
    height: 75px;
    border: 2px black solid;
}

#wins {
    font-size: 20px;
    margin-top: 10px;
}

.squares {
    background-color:white;
    border: 2px black solid;
    width: 125px;
    height: 125px;
    outline: 2px black solid;
}


#new-game {
    margin-top: 30px;
    padding: 1em;
    border-radius: 1em;
    display: none;  /*starts off hidden, unhide when game ends*/
}

.squares:hover{
    opacity:.9;
}


/* colors game styles*/

.colors-container {
  background-image: url('images/colorBackground.jpg');
  color:#fc5b2e; /* change color of all text in child elements */
  
}

.new-game-button-colors {
    background-color:#67c7ed;
}

/* underwater game styles */

.underwater-container { 
    background-image: url('images/blueBackground.jpg');  /* chnage the color of the games background */
    color:aquamarine; /* change ecolor of all text in child elements */
    font-weight: 900;
}


.new-game-button-underwater{
    background-color:aquamarine;
}